{% extends 'layout.html' %}
{% block title %}
    services -Csn-Tech20 Services
{% endblock %}

{% block services_link %}
    <nav class="huduma-link">
        <a href="/">Nyumbani</a>
    </nav>
{% endblock %}

{% block content %}
    <main class="all-services">
        <h2>Huduma Bora zinazopatikana Csn-Tech20 services</h2>
        <div class="sales">
            <h3><i class="fas fa-laptop"></i>
                Uuzaji wa Vifaa Vya Teknolojia</h3>
            <p class="paragraph1">Tunauza Kompyuta, Laptops, 
                na zana
                zake(Accessories) kama vile chaja, RAMs, Disks, Adapters
                Batteries, Stickers, na Vifaa vya Simu za Mkononi. <br> 
                Kwa sasa Tunauza Vifaa Hivi Kwa Bei ya Rejareja, 
                Toleo la Gharama za jumla Lipo Karibu Kutoka. <br>
                Ewe Wanafunzi, Mtu binafsi au Taasisi,Karibu Csn-Tech20 
                Services Tukupatie Kifaa Kilichobora Zaidi Kwa Gharama 
                nafuu Zaidi <br>
                <a href="/vifaa">Tazama Bidhaa Zetu</a>
            </p>
            <div class="uuzaji-images">
                <img src="{{ url_for
                ('static',filename='images/computer2.jpg')}}" 
                alt="uuzaji">
                <img src="{{ url_for
                ('static',filename='images/uuzaji/uuzaji1.jpg')}}" 
                alt="uuzaji1">
                <img src="{{ url_for
                ('static',filename='images/uuzaji/uuzaji2.jpg')}}" 
                alt="uuzaji2">
                <img src="{{ url_for
                ('static',filename='images/uuzaji/uuzaji3.jpg')}}" 
                alt="uuzaji3">
                <img src="{{ url_for
                ('static',filename='images/uuzaji/uuzaji4.jpg')}}" 
                alt="uuzaji4">
                <img src="{{ url_for
                ('static',filename='images/uuzaji/uuzaji5.jpg')}}" 
                alt="uuzaji5">
            </div>
        </div>

        <div class="repair">
            <h3><i class="fas fa-tools"></i>
                Matengenezo Ya Vifaa Vya Teknolojia Vilivyoharibika!</h3>
            <p class="paragraph2">Csn-Tech20 ni Wataalamu Mahiri 
                Kutatua Changamoto Mbalimbali za Vifaa Vya Teknolojia 
                Tunatoa huduma za Kisasa na Za Uhakika Kwa Vifaa kama 
                Vile :, <br>(Hardware(Desktop, 
                Motherboard, Cpu, GPU, Rams, Fans, Ports, Keyboard, Mouse, 
                Charging & Power System,Camera, ICs etc) Software
                (BIOS settings, Os, Troubleshooting, Driver diagnosis & 
                Repair, System Management, System Clean-Ups etc )) <br>
                Huduma zetu zinatolew Kwa haraka na Kwa Ufanisi na 
                Wataalamu Wenye Uzoefu Mkubwa <br>
                *Malipo Hufanyika tu Baada ya Kifaa Kurejeshwa Kikamilifu 
                na Mteja Kuridhika* na Matokeo Ya HUduma <br>
                Tunatoa Ushauri Wa Bora Kwa Mteja Kuhusu 
                Kifaa chake ili aendelee Kufurahia Matumizi bila Usumbufu
                 <br>
                **USIKITUPE!, KILETE Csn-Tech20 TUKIFUFUE!** <br>
                <a href="/repairs">Tazama Huduma Zetu za Matengenezo Ya 
                Vifaa</a>
            </p>
            <div class="repair-images">
                <img src="{{ url_for
                ('static',filename='images/repair/repair1.jpg')}}" 
                alt="repair1">
                <img src="{{ url_for
                ('static',filename='images/repair/repair2.jpg')}}" 
                alt="repair2">
                <img src="{{ url_for
                ('static',filename='images/repair/repair3.jpg')}}" 
                alt="repair3">
                <img src="{{ url_for
                ('static',filename='images/repair/repair4.jpg')}}" 
                alt="repair4">
                <img src="{{ url_for
                ('static',filename='images/repair/repair5.jpg')}}" 
                alt="repair5">
                <img src="{{ url_for
                ('static',filename='images/repair/repair6.jpg')}}" 
                alt="repair6">
            </div>
        </div>

        <div class="development">
            <h3><i class="fas fa-code"></i>
                Ujenzi Wa Software Csn-Tech20</h3>
            <p class="paragraph3">TunaToa Huduma hii Kupitia Kitengo cha 
                *Uhandisi na Ujenzi Wa Programu Tumizi(Software 
                development Department)*. Tunatengeneza Programu Kwa ajili 
                ya <br>*Apps za Simu(Android), Websites, Prpgramu za 
                Kompyuta na Programu Maalumu Kulingana na Mahitaji ya 
                Mteja Kama  vile: <br>Software za Kusimamia Biashara <br> 
                Software ya Kuratibu Shughuli za kampuni <br>Software za 
                Kutunza na Kutoa Taarifa za Wateja <br> Database za 
                Kuendesha Mifumo ya Taarifa. <br> 
                Tunatengeneza Software kwa Ubora wa Hali ya Juu, 
                tukifanya *Majaribio ya Kutosha* na  Kutoa toleo la 
                Majaribio (Trial Version)* Kwa mteja kabla ya 
                Makabidhiano Rasmi. Haki ya Umiliki na Matumizi 
                ya Programu Huhamishwa Kwa Mteja Baada ya Kuridhika <br>
                **Kazi Zetu Hufanyika kwa Kuzingatia *Mkataba Rasmi* unao  
                sainiwa Kati ya mteja na Csn-Tech20 <br><br>
                **Csn-Tech20 Tunaamini Kuwa Utatuzi 
                unaofuata Mantiki ndio Msingi Imara wa Mabadiliko Makubwa
                Katika Sekta Ya Teknolojia!** <br> 
                <a href="/softwares">Tazama Ujenzi wa Software</a>
            </p>
            <div class="development-images">
                <img src="{{ url_for
                ('static',filename='images/ujenzi/code.jpg')}}" 
                alt="ujenzi">
                <img src="{{ url_for
                ('static',filename='images/ujenzi/code1.png')}}" 
                alt="ujenzi1">
                <img src="{{ url_for
                ('static',filename='images/ujenzi/code2.png')}}" 
                alt="ujenzi2">
                <img src="{{ url_for
                ('static',filename='images/ujenzi/code3.png')}}" 
                alt="ujenzi3">
                <img src="{{ url_for
                ('static',filename='images/ujenzi/code4.png')}}" 
                alt="ujenzi4">
                <img src="{{ url_for
                ('static',filename='images/ujenzi/code5.png')}}" 
                alt="ujenzi5">
            </div>
        </div>


        <div class="installation">
            <h3><i class="fas fa-download"></i>
                Usakinishaji Wa Software na Kufanya Updates</h3>
            <p class="paragraph4">Kupitia Kitengo cha Software Development cha CSN-Tech20,
                tunatoa huduma za usakinishaji na uboreshaji wa programu mbalimbali kwa 
                gharama nafuu. Tunashughulika na mifumo ya uendeshaji (Operating Systems),
                madereva (Drivers), programu za usalama (Security Software), pamoja na 
                installers na software zilizolipiwa kama Adobe, michezo (games), na 
                nyinginezo. Huduma zetu zinalenga kuhakikisha vifaa vya wateja vinafanya 
                kazi kwa ufanisi na usalama wa hali ya juu. <br>
                Huduma hii inapatikana muda wowote, kulingana na mahitaji na machaguo ya 
                mteja. Tunazingatia ubora, kasi, na ushauri wa kitaalamu ili kuhakikisha 
                mteja anapata suluhisho sahihi kwa changamoto zake za kiteknolojia. <br><br> 
                Karibu CSN-Tech20—mahali ambapo teknolojia hukutana na huduma bora <br>
                <a href="/softwares">Tazama Usanikishaji wa Software</a>
            </p>
            <div class="installation-images">
                <img src="{{ url_for
                ('static',filename='images/software/software1.jpg')}}" 
                alt="software1">
                <img src="{{ url_for
                ('static',filename='images/software/software5.jpg')}}" 
                alt="software2">
                <img src="{{ url_for
                ('static',filename='images/software/software3.jpg')}}" 
                alt="software3">
                <img src="{{ url_for
                ('static',filename='images/software/software4.jpg')}}" 
                alt="software4">
                <img src="{{ url_for
                ('static',filename='images/software/software2.jpg')}}" 
                alt="software5">
                <img src="{{ url_for
                ('static',filename='images/software/software6.jpg')}}" 
                alt="software6">
            </div>
        </div>

        <div class="consultancy">
            <h3><i class="fas fa-lightbulb"></i>
                Uuzaji wa Vifaa Vya Teknolojia</h3>
            <p class="paragraph5"> CSN-Tech20 inatoa ushauri wa kitaalamu kwa makundi 
                mbalimbali ya watu, wakiwemo wafanyabiashara, wamiliki wa taasisi, 
                wawekezaji, na hata mashirika ya serikali. Tunashauri kuhusu mbinu bora 
                na vifaa imara vinavyoweza kuongeza ufanisi katika shughuli za uzalishaji 
                na uendeshaji wa kazi. Vilevile, tunawasaidia wale ambao ni wageni katika 
                tasnia ya teknolojia kwa kuwapa mwongozo wa jinsi ya kuanza kutumia 
                teknolojia ili kurahisisha shughuli zao za kila siku. <br>
                Huduma zetu zinapatikana kila siku kupitia njia mbalimbali kulingana na 
                mazingira na mahitaji ya mteja. Tunatoa usaidizi ofisini, kwa njia ya 
                mtandao, kupitia mikutano ya meza (table consultancy), na hata kwa 
                kumfikia mteja moja kwa moja pale anapoweka oda. <br><br>**Usikwame kwa 
                sababu hujui wapi uende—Njoo tuyajenge pamoja!**
                <br><a href="/ushauri">Tazama Maudhui Yetu Ya Ushauri</a>
            </p>
            <div class="consultancy-images">
                <img src="{{ url_for
                ('static',filename='images/ushauri/ushauri.jpg')}}" 
                alt="ushauri">
                <img src="{{ url_for
                ('static',filename='images/ushauri/ushauri1.jpg')}}" 
                alt="ushauri1">
                <img src="{{ url_for
                ('static',filename='images/ushauri/ushauri2.jpg')}}" 
                alt="ushauri2">
                <img src="{{ url_for
                ('static',filename='images/ushauri/ushauri3.jpg')}}" 
                alt="ushauri3">
                <img src="{{ url_for
                ('static',filename='images/ushauri/ushauri4.jpg')}}" 
                alt="ushauri4">
                <img src="{{ url_for
                ('static',filename='images/ushauri/ushauri5.jpeg')}}" 
                alt="ushauri5">
            </div>
        </div>


        <div class="training">
            <h3><i class="fas fa-chalkboard-teacher"></i>
                Mafunzo Ya Programu na Vifaa MbaliMbali Vya Teknolojia!</h3>
            <p class="paragraph6"> CSN-Tech20 inatoa huduma ya mafunzo ya muda mfupi kwa 
                mfumo wa programu na teknolojia, kwa lengo la kuwajengea uwezo watu wa 
                rika na viwango mbalimbali. Kupitia mafunzo haya, mteja anaweza kujifunza 
                matumizi ya programu na vifaa vya kiteknolojia kulingana na mahitaji yake 
                binafsi. Gharama na muda wa kukamilisha mafunzo hutegemea kozi anayochagua 
                mteja, na tunahakikisha kila kozi inatolewa kwa ubora wa hali ya juu na 
                kwa njia inayomfaa mteja. <br>
                Tunafundisha kozi mbalimbali zikiwemo Programming, Software Development, 
                Computer Maintenance and Repair, Networking, na Cybersecurity. Mafunzo 
                yanapatikana kwa ngazi ya Beginner hadi Advanced, na tunatoa vipaumbele 
                kwa vijana wadogo kwa sababu tunaamini wao ndio chachu ya mabadiliko ya 
                vizazi vijavyo. Huduma hii inapatikana kila siku kupitia njia mbalimbali
                —ikiwemo ofisini, mtandaoni, table consultancy, na hata kwa kumfikia mteja
                 moja kwa moja. <br><br>
                **Njoo uone uhalisia wa kipaji na ubunifu vilivyojificha katika ubongo 
                wako—tuanze safari ya maarifa pamoja!**
                <br><a href="/training">Tazama Bidhaa Zetu</a>
            </p>
            <div class="training-images">
                <img src="{{ url_for
                ('static',filename='images/courses/courses1.jpg')}}" 
                alt="courses1">
                <img src="{{ url_for
                ('static',filename='images/courses/courses1.jpg')}}" 
                alt="courses2">
                <img src="{{ url_for
                ('static',filename='images/courses/courses2.jpg')}}" 
                alt="courses3">
                <img src="{{ url_for
                ('static',filename='images/courses/courses3.jpg')}}" 
                alt="courses4">
                <img src="{{ url_for
                ('static',filename='images/courses/courses4.jpg')}}" 
                alt="courses5">
                <img src="{{ url_for
                ('static',filename='images/courses/courses5.jpg')}}" 
                alt="courses6">
            </div>
        </div>
    </main>
{% endblock %}